*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --navColor: rgb(0, 178, 248);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background: var(--navColor);
  height: 5rem;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
