*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --navColor: rgb(0, 178, 248);
  --lightColor: white;
}

a {
  text-decoration: none;
  color: var(--lightColor);
}

li {
  list-style: none;
}

header {
  background: var(--navColor);
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links > li {
  padding: 2rem;
}

.links > li a {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

li .btn {
  background: var(--lightColor);
  border-radius: 0.2rem;
}
